html {
  font-size: 10px;
  /*background:url(http://i.imgur.com/b9r5sEL.jpg) bottom center;*/
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tracks {
  display:flex;
  flex:1;
  min-height:100vh;
  justify-content: space-around;
  flex-direction: column;
}

.track {
  display:flex;
  flex:1;
  /*min-height:100vh;*/
  align-items: center;
  justify-content: space-between;
  border: 5px solid red;
}

.truck {
  border:4px solid black;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.62, 0.32, 0, 0.74);
}

.winner {
  border-color:green;
  box-shadow: 0 0 10px green;
}

.milestone {
  border:4px solid green;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

kbd {
  display: block;
  font-size: 40px;
}

.truckName {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}
