html {
  font-size: 10px;
  /*background:url(images/Pebbles1.png) bottom center;*/
  /*background-size: cover;*/
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tracks {
  display:flex;
  flex:1;
  min-height:100vh;
  justify-content: space-around;
  flex-direction: column;
}

.track {
  display:flex;
  flex:1;
  /*min-height:100vh;*/
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px dashed red;
}

.track:last-child {
  border-bottom: 0;
}

.truck {
  margin:1rem;
  /*font-size: 1.5rem;*/
  padding:1rem .5rem;
  /*text-align: center;*/
  /*color:white;*/
  transition: all 0.7s;
  transition-timing-function: cubic-bezier(0.62, 0.32, 0, 0.74);
}

.truck img {
  width: 150px;
}

.winner {
  position: relative;
}

.winner .score {
  top: 0;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 2.5em;
  width: 100%;
}

.winner:before {
  content: "";
  background-image: url(images/leaves.png);
  background-size: 60px 60px;
  display: block;
  position: absolute;
  top: -10px;
  /*height: 60px;*/
  /*width: 60px;*/
  /*margin: -25px 0 0 51px;*/
  background-position: 50% 0;
  display: block;
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  /*border: 5px solid red;*/
}

.milestone {
  border:4px solid green;
  border-radius:5px;
  margin:5rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

kbd {
  display: block;
  font-size: 40px;
  font-family: sans-serif;
}

.truckName {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}


